[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-MicroservicesCourse/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-MicroservicesCourse/products-microservice.git
